In [1]:
import pandas as pd
data = [[1,34,45,67,78],[2,44,56,77,98],[3,54,45,66,88],[4,34,65,97,78]]
df = pd.DataFrame(data, columns=['Roll No','Subject_1','Subject_2','Subject_3','Subject_4'])

In [2]:
df

   Roll No  Subject_1  Subject_2  Subject_3  Subject_4
0        1         34         45         67         78
1        2         44         56         77         98
2        3         54         45         66         88
3        4         34         65         97         78

In [3]:
#find the highest mark of each student
df[['Subject_1','Subject_2','Subject_3','Subject_4']].max(axis=1)

0    78
1    98
2    88
3    97
dtype: int64

In [4]:
#find the topper
df['Total Marks'] = df[['Subject_1','Subject_2','Subject_3','Subject_4']].sum(axis=1)
print("Roll No "+str(df[df['Total Marks'] == df['Total Marks'].max(axis=0)]['Roll No'].values)+" is the topper")

Roll No [2] is the topper

In [5]:
#print the marks of first two roll numbers
df[:2]

   Roll No  Subject_1  Subject_2  Subject_3  Subject_4  Total Marks
0        1         34         45         67         78          224
1        2         44         56         77         98          275

In [6]:
#update the details by adding marks of roll number 5 and 6
df.loc[len(df)] = [5,78,89,89,99,0]
df.loc[len(df)] = [6,58,69,39,79,0]
print("The updated dataframe is \n",df)

The updated dataframe is
    Roll No  Subject_1  Subject_2  Subject_3  Subject_4  Total Marks
0        1         34         45         67         78          224
1        2         44         56         77         98          275
2        3         54         45         66         88          253
3        4         34         65         97         78          274
4        5         78         89         89         99            0
5        6         58         69         39         79            0